.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /* margin-top: 20px; */ /* Navbar sits flush with top of browser now - Adam */
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
#nav-collapse-01 a {
  border-width: 0px;
  color: #fff;
}

#nav-collapse-01 a:hover{
  color:#16a085;
}

.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

.navbar-inverse .nav-collapse .nav > li > a:hover, 
.navbar-inverse .nav-collapse .nav > li > a:focus, 
.navbar-inverse .nav-collapse .dropdown-menu a:hover, 
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
background-color: #f2f2f2;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

#logo {
  border: 0;
  background: url('../images/unlocked_gov.png') no-repeat 0 5px ;
  background-size: 25px;
  margin-left: 25px;
}

a.logo{
  text-decoration: none;
}

#buttons {
  margin:30px;
  text-align: center !important;
   white-space: nowrap;  
    overflow: hidden; 
}


#intro { 
  /*background: #fff 50% 0 fixed; */
  height: auto;  
  margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0;
}


#pitch { 
  text-align: center;
  color: #fff;
  background-color: #3498db;
  height: 1000px;  
  margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 100px 0;
}


/*main app body*/


/* Sidenav
-------------------------------------------------- */

 .ul-sidenav {
  margin: 20px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.main-row{
  padding-left: 20px;
}

/* Non-essential demo stuff */
.hero-unit {
	background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/*facet view filters*/
.facetview_filters  a {
  text-decoration: none;
  text-transform: capitalize;
}

#map {width:100%;}
#map img {max-width: none;}
#map label {width: auto; display:inline;}
/*override plus icon*/
#facetview_rightcol .facetview_sharesave, #facetview_rightcol .facetview_freetext {
  margin-top: 3px !important;
  margin-bottom: 0px !important;
}
#facetview_rightcol .facetview_freetext{
  margin-left: 5px;
}
#facetview_rightcol .facetview_freetext {
  width: 45%;
}

.facetview_metadata .pagination ul{
  background-color: #34495e !important;
}
.facetview_metadata .pagination ul li.active > a, 
.facetview_metadata .pagination ul li.active > span,
.facetview_metadata .pagination ul li > a, .facetview_metadata .pagination ul li > span{
  background-color: #34495e;
  border-color: #34495e;
}
.facetview_metadata  .facetview_decrement {
  padding: 5px 5px 8.5px;
  margin: 0px;
}

#nav-collapse-01 .nav > li:first-child > a {
  -webkit-border-radius: 0 0 0 0px !important;
  -moz-border-radius: 0 0 0 0px !important;
  border-radius: 0 0 0 0px !important;
}

.facetview_metadata .pagination ul li.active > a:hover, 
.facetview_metadata .pagination ul li.active > span:hover, 
.facetview_metadata .pagination ul li.active > a:focus, 
.facetview_metadata .pagination ul li.active > span:focus {
background-color: #1abc9c !important;
border-color: #1abc9c !important;
color: #d6dbdf;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.facetview_filters.table td > a {
  display: block;
}

.facetview_filters .btn {
  color: #34495e;
}


.media-object { width: 64px; height: 64px; padding-bottom: 30px }

#facetview_event_date  {
  position: absolute;
  top: 0px;
}

.graphs svg {
  width: 250px;
}